<p id="notice"><%= notice %></p>

<h1>Brothers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brothers.each do |brother| %>
      <tr>
        <td><%= brother.name %></td>
        <td><%= brother.parent %></td>
        <td><%= link_to 'Show', brother %></td>
        <td><%= link_to 'Edit', edit_brother_path(brother) %></td>
        <td><%= link_to 'Destroy', brother, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brother', new_brother_path %>
